@{
    ViewBag.Title = "FindFrequency";
    var List = (List<int>)ViewData["Frequency"];
        
    int i = 0;
}

<h2>FindFrequency</h2>

<body>
    <br><br>

    @foreach (var item in (List<string>)ViewData["Word"])
    {
        <p>Word is: @item , Frequency: @List.ElementAt(i++)</p>
        
    }
    
    

    <br><br>

</body>

