@{
    ViewBag.Title = "FindFrequency";
    var List = (List<int>)ViewData["Frequency"];
    /*var Syn = (IEnumerable<string>)ViewData["Synonyms"];
    //var SynList = Syn.ToList();
    //for (int j=0;j<SynList.Count;j++) { 
    //    <p>@SynList.ElementAt(j)</p>
    */

    int i = 0;
}

<h2>FindFrequency</h2>

<body>
    <br><br>

    @foreach (var item in (List<string>)ViewData["Word"])
    {
        <p>Word is: @item , Frequency: @List.ElementAt(i++)</p>
        
    }
    
    

    <br><br>

</body>

