
@{
    ViewBag.Title = "Indexing";
}

<body>
    <form action="WebIndexing" method="post">
        <label>FirstURL</label>
        <input type="text" name="firstURL" placeholder="First URL: ..." />

        <input type="submit" value="Process Data" />
    </form>
</body>

