@{
    ViewBag.Title = "Home Page";
}

<h2>Web Indexing Home Page</h2>

<body>
    <p>
        >> This is a web indexing application and in each part,
        the relevant definition is processed.
    </p>

    <br>

    <h4>1. Frequency</h4>
    <p>
        The word frequency is determined for the given URL.
    </p>

    <br>

    <h4>2. Scoring</h4>
    <p>
        In this section, the number of keywords obtained 
        for the 1st URL to be included in the content of the 2nd URL
        A similarity score formula has been developed.
    </p>

    <br>

    <h4>3. Indexing</h4>
    <p>
        For a given set of websites and a different URL,
        At this stage, a URL will be entered on a page 
        on the project website (eg asama4.php, asama4.asp,…).
        a field will be created. The content of this URL entered 
        and each web page in the web site cluster.
        Similarity scores of the contents will be calculated separately.
    </p>

    <br>

    <h4>4. Semantic Analys</h4>
    <p>
        Within the given websites, there may be words that are 
        semantically related to the keywords. for example, 
        the word "national" may be substituted for "civil". 
        Let's call these words "related keywords".
    </p>
</body>