@{
    ViewBag.Title = "Scoring";
}

<body>
    <form action="FindScoring" method="post">
        <label>FirstURL</label>
        <input type="text" name="firstURL" placeholder="First URL: ..." />

        <label>SecondURL</label>
        <input type="text" name="secondURL" placeholder="Second URL: ..." />

        <input type="submit" value="Process Data" />
    </form>
</body>